  {% extends 'shop/base.html' %}
  {% block content %}
    <h1>Product List</h1>
    <p>{{ deleted }} </p>
    <p><a href="{% url 'shop:product_new' %}" class="btn btn-outline-primary">Add a new product</a></p>
    
    <div class="container">
        <table id="example" class="display" style="width:100%">
          <thead>
              <tr>
                  <th>No. #</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Created At</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
            {% for product in products %}
              <tr>
                  <td>{{ product.id }}</td>
                  <td>{{product.name }}</td>
                  <td>£ {{product.price}}</td>
                  <td>{{ product.created_date }}</td>
                  <td><a href="{% url 'shop:product_detail' id=product.id %}" class="btn btn-primary">View More</a></td>
              </tr>
              {% endfor %}

          </tbody>
          <tfoot>
              <tr>
                  <th>No. #</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Created At</th>
                  <th>Action</th>
              </tr>
          </tfoot>
      </table>
    </div>

    {% endblock %}